/* Цвет основного текста  #757575
   Вторичный цвет #212121
   Цвет лого #2196F3
   Цвет заголовка h1 #FFFFFF
   Цвет остальных заголовков #212121
   Цвет акцент #2196F3 
   Цвет адресса в футере rgba(255, 255, 255, 0.6)
   Цвет фона основа #FFFFFF
   Цвет темного фона #2F303A
   Цвет серого фона #F5F4FA
   Цвет фона Hero #2F303A
   Цвет фона Footer #2F303A
   Цвет фона Наша команда #F5F4FA
   Цвет Hover кнопки "Заказать услугу"  #188CE8;
   
 */

:root {
  --main-background-color: #ffffff;
  --body-text-color: #757575;
  --secondary-text-color: #212121;
  --hover-color: #2196f3;
  --focus-color: #2196f3;
}

body {
  background-color: var(--main-background-color);
  color: var(--body-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.link:hover {
  color: var(--hover-color);
}

.link:focus {
  color: var(--focus-color);
}

.order-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.order-button:focus,
.order-button:hover {
  background-color: #188ce8;
}

. .list {
  list-style: none;
}

/* Logo */

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.headcomp {
  color: #000;
}

.address {
  font-style: normal;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  text-decoration: none;
}

/* Head */
.head-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--body-text-color);
  text-decoration: none;
}

/* Hero */

.hero {
  background-color: #2f303a;
}

.herr-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Title */

.hang-title,
.working-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Hang */

.hang-title-last {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.hang-text {
  letter-spacing: 0.03em;
}

/* team */

.ourteam {
  background-color: #f5f4fa;
}

.team-title-last {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footcomp {
  color: #fff;
}

.footbg {
  background-color: #2f303a;
}

.foot-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.navi-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}
/* PORTFOLIO*/

/* Filter */
.filter-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.filter-button:hover {
  color: #fff;
  background-color: var(--hover-color);
}

.filter-button:focus {
  color: #fff;
  background-color: var(--focus-color);
}

/* Portfolio */
.portfolio {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: inherit;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
